/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #fff;
  }
  
  body {
    /*width: 70%;*/
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 20px;
  }
  
  /* || typography */
  
  h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    color: #2a2a2a;
  }
  
  p, input, li, table, label {
    font-family: Helvetica, sans-serif;
    color: #2a2a2a;
  }
  
  #alerta{
    font-size: 1.3rem;
    color: red;
    border: solid #bcc 1px;
    padding: 5px;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  
  p, li, label {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #cerrarSesion{
     border: solid #bcc 1px; 
     float: right; 
     margin-right: 240px; 
     margin-top: -40px;
     padding: 5px;
  }
  #formArchivo [type="input"]{
    width: 10rem;
  }
  #formArchivo [type="file"]{
    width: auto;
    padding-bottom: 4px;
  }
  /* || header layout */
  
  nav, article, aside, footer {
    background-color: white;
    padding: 1%;
  }
  
  nav {
    height: 50px;
    background-color: #8088ff;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    border-radius: 4px;
    border: 1px solid #01447e;
    padding: 0px 15px 15px 15px;
  }

  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.4rem;
    height: 14px;
    margin: 1px;
    width: 3.3em;
  }
  
  input[type="submit"] {
    flex: 1;
    margin: 0.5rem;
    background: #0c7dbf;
    border: 0;
    color: white;
    padding: 1.2rem;
    padding-bottom: 1.8em;
  }
  
  input[type="hidden"] {
    display: none;
  }
  
  button {
    font-size: 1.4rem;
    height: 18px;
    margin: 1px;
  }
  
  button[type="submit"] {
    flex: 1;
    margin: 0.3rem;
    background: #0c7dbf;
    border: 0;
    color: white;
    padding: 0.5rem;
    padding-bottom: 1.5em;
  }
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    background-color: #8088ff;
  }

  table{
    width: 100%;
  }
  thead{
    background-color: #a9a9a9;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.2em 1.5em 0.3em 1.5em;
    text-align: center;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  @media (max-width: 600px) {
      img{
          max-width: 10em;
      }
      body{
        width: 98%;
      }
      aside{
      	width: 98%;
      }
  }

  
  aside li {
    padding-bottom: 10px;
  }
  /* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
  footer {
    margin-top: 10px;    
  }
  footer p{
    text-align: center;   
  }
  